.component-detail-hotel {
    .detail-hotel-component {
        .detail-hotel {
            .comment-user {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            .comment-user
                .col-12 {
                display: flex;
                align-items: center;
            }

            .comment-user i {
                font-size: 2rem;
                margin-bottom: 0.5rem;
            }
            .profile-image {
                width: 93px;
                height: 93px;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 0.5rem;
            }
            .pagination {
                font-size: 1rem;
                margin-top: 20px;
                display: flex;
                justify-content: start;
                padding: 10px;
                width: 100%;

                .page-item {
                    margin: 0 5px;

                    &.active .page-link {
                        background-color: #ff6f3c;
                        color: #fff;
                        border-color: #ff6f3c;
                    }

                    &.disabled .page-link {
                        color: #6c757d;
                        pointer-events: none;
                        background-color: #e9ecef;
                        border-color: #dee2e6;
                    }
                }

                .page-link {
                    color: #333;
                    background-color: #f8f9fa;
                    border: 1px solid #dee2e6;
                    padding: 8px 12px;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: all 0.3s;

                    &:hover {
                        transition: 0.5s;
                        background-color: #ff6f3c;
                        color: #fff;
                        border-color: #ff6f3c;
                    }

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
                    }
                }
            }
            .average-star {
                border-right: 1px solid black;
            }

            .rating-hotel {
                position: relative;
                background-color: #f68031;
                background-size: cover; /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
                background-position: center; /* Căn giữa hình ảnh */
                width: 100%; /* Chiếm 100% chiều rộng của phần tử chứa */
                height: 100%; /* Chiếm 100% chiều cao của phần tử chứa */
                aspect-ratio: 1; /* Đảm bảo tỷ lệ chiều rộng/chiều cao là 1:1 (hình vuông) */
            }

            .rating-star {
                color: #f9aa2b;
                font-size: 2rem;
            }
            .unrating-star {
                color: #818181;
                font-size: 2rem;
            }

            .text-gray {
                color: #aaa;
            }

            .rating-label {
                width: 50px;
                text-align: right;
            }

            .review-count {
                width: 100px;
                text-align: left;
                font-size: 14px;
            }

            .comment-btn {
                background-color: #f68031;
                color: white;
                border: none;
            }

            .comment-btn:hover {
                background-color: #d56b29;
            }

            textarea {
                resize: none;
                border-radius: 10px;
            }

            .progress-container {
                height: 10px;
                background-color: #d7d7d7;
            }

            .rating-bar {
                height: 100%;
                border-radius: 5px;
                background-color: #f9aa2b;
            }

            .btn-comment {
                background-color: #ff6f3c;
                border: none;
                width: 20%;
                color: white;
                font-size: 1.25rem;
                padding: 0.75rem;
                margin-top: 2rem;
            }

            .btn-comment:hover {
                background-color: #ff6f3c;
            }


            .comment-content {
                display: flex;
                width: 100%;
                i {
                    font-size: 56px;
                    color: #c0c0c0;
                    padding: 0 20px 0 20px;
                }
                textarea {
                    width: 100%;
                    height: 127px;
                    padding: 10px;
                    border: #d4d4d4 solid 1px;
                }
            }

            .comment-button {
                background-color: var(--primary-color);
                font-size: 18px;
            }
            .search-overlay {
                height: 100%;
                margin-left: 2rem;
                z-index: 10;
                display: flex;
                height: 100%;
                width: 50vw;
                bottom: 0;
                .search-section {
                    display: flex;
                    flex-direction: column;
                    background-color: #F4F4F4;
                    border: 2px solid rgb(232, 232, 232);
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                }
            }
            .search-section .btn-primary {
                background-color: #ff6f3c;
                border: none;
                width: 100%;
                padding: 1rem;
                margin-top: 2rem;
            }

            .search-section .btn-primary:hover {
                background-color: #ff6f3c;
            }
            .destination-cards-container {
                overflow-x: auto;
                scroll-behavior: smooth;
                position: relative;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

                scrollbar-width: none;
                .selected-image {
                    border: 3px solid #e67e22; /* Orange border */
                    box-sizing: border-box;
                }
                .room-image {
                    cursor: pointer;
                    margin: 5px;
                }
                .content-container {
                    height: 40%;
                    max-width: 100%;
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

                    white-space: nowrap;
                    scroll-behavior: smooth;
                    overflow-x: auto;
                    scrollbar-width: none;
                }
                img {
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

                }
            }
            .destination-cards-container::-webkit-scrollbar {
                display: none;
            }

            .destination-card {
                flex: 0 0 auto;
                transition: transform 0.3s ease;
                margin-right: 20px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                height: auto;
                h2 {
                    white-space: normal;
                    word-wrap: break-word;
                    word-break: break-word;
                    overflow-wrap: break-word;
                }
                .icon {
                    color: #ff6f3c
                }
                .save-icon {
                    font-size: 2.5rem;
                    background: rgba(0, 0, 0, 0.4);
                    padding: 8px;
                    border-radius: 50%;
                    color: white;
                  }
                  .rating-icon {
                    background-color: orange;
                    font-weight: 700;
                    border-radius: 5px;
                    font-size: 0.9rem;
                  }

                  .rating-icon i {
                    color: white;
                  }

                  .bg-orange {
                    background-color: orange;
                  }
            }

            .destination-card img {
                object-fit: cover;
                width: 100%;
                height: 32rem;
            }

            .destination-card .p-4 {
                padding: 1rem;
                background: rgba(0, 0, 0, 0.5);
                color: white;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .destination-card:hover {
                transform: scale(1.05);
            }

            .main-carousel {
                overflow-x: auto;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }

            .bg-rating {
                background-color: #ff6f3c;
            }
            .rating-icon {
                background-color: #ff6f3c;
                font-weight: 700;
                border-radius: 5px;
                font-size: 0.9rem;
            }
            .rating-icon i {
                color: white;
            }
            .nav-link {
                color: rgb(134, 134, 134);
            }

            .nav-link.active {
                color: #ff6f3c;
                border-color: #ff6f3c;
            }

            .nav-link:hover {
                color: #ff6f3c;
            }
            .custom-list-f00c {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 5px;
                list-style-type: none;
                padding-left: 0;
            }

            .custom-list-f00c li {
                font-size: 1.25rem;
                margin-bottom: 1rem;
            }
            .custom-list-f00c li::before {
                content: "\f00c";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                color: #28a745;
                margin-right: 10px;
            }
            .custom-list-model {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 2px;
                list-style-type: none;
                padding-left: 0;
            }

            .custom-list-model li {
                font-size: 1.25rem;
                margin-bottom: 1rem;
            }
            .custom-list-model li::before {
                content: "\f00c";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                color: #28a745;
                margin-right: 10px;
            }
            .custom-list-decimal {
                list-style-type: decimal;
                padding-left: 0;
                margin-left: 20px;
            }
            .selected-image {
                border: 3px solid #e67e22;
                box-sizing: border-box;
            }
            .room-image:hover {
                transform: scale(1.05);
                transition: 0.75s;
                border: 2px solid #e67e22;
            }
            .input-style{
                .text-style {
                    background-color: white;
                    border: 2px solid #edbead;
                    padding-right: 0px !important
                }
                .iconic {
                    color: #ff6f3c;
                    font-size: 1.5rem;
                }
                .form-label {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
            .room-card {
                background-color: #f8f8f8;
                border-radius: 8px;
                padding: 5px 0px 5px 5px;
                margin-bottom: 20px;
                .room-image {
                    width: 30px;
                    height: 30px;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    border-radius: 8px;
                }
                .detail-icon {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    color: white;
                    border-radius: 100%;
                    cursor: pointer;
                    font-size: 1.25rem;
                }

                .detail-icon:hover {
                    transition: 1s;
                    color: #ff6f3c;
                }
            }

            .room-details {
                flex-grow: 1;
            }
            .room-title {
                font-weight: bold;
                font-size: 2rem;
                margin-bottom: 5px;
            }
            .room-info {
                font-size: 0.9em;
                color: #6c757d;
            }
            .room-price {
                font-size: 1.2em;
                font-weight: bold;
                color: #e74c3c;
            }
            .price-details {
                font-size: 0.9em;
                color: #6c757d;
            }
            .btn-select, .btn-selected, .btn-out {
                font-weight: bold;
                font-size: 1.5rem;
            }
            .btn-select {
                color: #FF7B42;
                border: 1px solid #FF7B42;
                background: none;
            }
            .btn-selected {
                color: #fff;
                background-color: #FF7B42;
                border: none;
            }
            .btn-out {
                color: #fff;
                background-color: #223143;
                border: none;
            }
            .form-label {
                font-size: 1.5rem;
                font-weight: bold;
            }
            .addon-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .addon-item input[type="checkbox"] {
                transform: scale(1.3);
            }
            .quantity-control {
                display: flex;
                align-items: center;
            }
            .quantity-btn {
                background-color: #ff6f3c;
                color: white;
                border: none;
                width: 32px;
                height: 32px;
                font-size: 1rem;
                line-height: 1;
                border-radius: 50%;
            }
        }
    }
    .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        padding: 0.75rem 1rem;
        margin-bottom: 1rem;
        list-style: none;
        background-color: #ffffff;
        border-radius: 0.25rem;
        li.breadcrumb-item {
            font-size: 1.5rem;
            color: #6c757d;

            &.active {
                color: #000;
                font-weight: bold;
            }

            a {
                text-decoration: none;
                color: #ff6f3c;

                &:hover {
                    color: #ff6f3c;
                    text-decoration: underline;
                }
            }
        }
    }
}
