@use "auth.scss";
@use "header.scss";
@use "page/about_us.scss";
@use "page/home_page.scss";
@use "page/list_tour.scss";
@use "page/list_hotel.scss";
@use "footer.scss";
@use "page/detail_tour.scss";
@use "page/detail_hotel.scss";
@use "page/admin/admin_dashboard.scss";

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
        box-sizing: border-box;
}

.row-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0;
    margin-right: 0;
}
